body {

  margin: 10%;
  font-family: sans-serif;
  color: white;
  font-size: 20px;
  background: url('hogwart.gif') no-repeat center  fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;

}

.image-flag{
  width: 30%;
  border: blue 2px solid;
}
